<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Init_Servlet</servlet-name>
    <servlet-class>
      com.google.cloud.pubsub.client.demos.appengine.servlet.InitServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Init_Servlet</servlet-name>
    <url-pattern>/init_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Send_Servlet</servlet-name>
    <servlet-class>
      com.google.cloud.pubsub.client.demos.appengine.servlet.SendMessageServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Send_Servlet</servlet-name>
    <url-pattern>/send_message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fetch_Messages_Servlet</servlet-name>
    <servlet-class>
      com.google.cloud.pubsub.client.demos.appengine.servlet.FetchMessagesServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_Messages_Servlet</servlet-name>
    <url-pattern>/fetch_messages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Receive_Servlet</servlet-name>
    <servlet-class>
      com.google.cloud.pubsub.client.demos.appengine.servlet.ReceiveMessageServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receive_Servlet</servlet-name>
    <url-pattern>/_ah/push-handlers/receive_message</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>push-handlers</web-resource-name>
      <url-pattern>/_ah/push-handlers/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>init_servlet</welcome-file>
  </welcome-file-list>
</web-app>
